---
layout: default
---

{% capture url %}{{ site.url | append: "$" | replace: "/$", "" | replace: "$", "" }}{% endcapture %}

<div class="parallax-container" id="#index-banner">
  <div class="section no-pad">
  <div class="valign-wrapper" style="height: 380px;">
    <div class="container">
      <h1 class="row center white-text logo-font" style="text-shadow:rgba(0,0,0,0.2) 0 2px 1px;">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="col s12 white-text logo-font" style="text-shadow:rgba(0,0,0,0.2) 0 2px 1px;">{{ site.description }}</h5>
      </div>
      <div class="row center">
        <a class="btn-flat btn-large waves-effect waves-light indigo lighten-1 logo-font white-text" href="{{ url }}/about/" style="border: 1px #fff solid; margin-right: 4px;">About</a>
        <a class="btn-flat btn-large waves-effect waves-light indigo lighten-1 logo-font white-text" href="{{ url }}/blog/" style="border: 1px #fff solid; margin-left: 4px;">Blog</a>
        <div style="margin-top: 32px;">
          <a href="#latest-images" class="circle waves-effect waves-light pulse" style="width: 50px; height: 50px;text-align: center"><i class="material-icons white-text" style="font-size: 36px;">keyboard_arrow_down</i></a>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="parallax">
    <img src="{{ site.url }}/assets/img/home3.jpg">
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h4 class="indigo-text" id="latest-images">Latest Images</h4>
      </div>
      {% for post in site.posts %}
        {% if post.image.src %}
        <div class="col s12 m6">
          <article>
            <div class="card">
              <div class="card-image">
                <img class="materialboxed" data-caption="© {{ post.image.copyright }}" src="{{ post.image.src }}">
                <span class="card-title" style="background-color: rgba(0,0,0,.3); cursor: pointer; padding: 8px 24px; width: 100%;" onclick="window.location='{{ url }}{{ post.url }}'">
                  {{ post.title | replace: "#1월", "[1월 실적]" | replace: "#2월", "[2월 실적]" | replace: "#3월", "[3월 실적]" | replace: "#4월", "[4월 실적]" | replace: "#5월", "[5월 실적]" | replace: "#6월", "[6월 실적]" | replace: "#7월", "[7월 실적]" | replace: "#8월", "[8월 실적]" | replace: "#9월", "[9월 실적]" | replace: "#10월", "[10월 실적]" | replace: "#11월", "[11월 실적]" | replace: "#12월", "[12월 실적]" | replace: "#t", "[테스트]" | replace: "#코딩", "[코딩]" | replace: "#디자인", "[디자인]" | replace: "#수학", "[수학]" }}<time datetime="{{ post.date }}" style="font-size: 16px;"> | {{ post.date | date_to_string }}</time>
                </span>
              </div>
            </div>
          </article>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
