---
layout: default
title: Notifications
permalink: /notis/
---

{% capture url %}{{ site.url | append: "$" | replace: "/$", "" | replace: "$", "" }}{% endcapture %}

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <article>
          <div class="card">
            <div class="card-content">
              <span class="card-title">Notify</span>
              <ul class="collapsible" data-collapsible="expandable">
                {% for noti in site.data.notis %}
                <li>
                  <div class="collapsible-header"><texttime class="right" datetime="{{ noti.date }}"/>{{ noti.title }}</div>
                  <div class="collapsible-body">
                    <p style="font-weight: 600; margin-bottom: 10px;"><time datetime="{{ noti.date }}"><small>{{ noti.author }} | {{ noti.date | date_to_string }}</small></time></p>
                    <p id="copy">
                      <input type="hidden" style="color: white">
                        {{ noti.title }}<br>
                        {{ noti.author }} | {{ noti.date | date_to_string }}<br><br>
                      </input>
                      {{ noti.content }}
                    </p>
                    {% if noti.copy == true %}
                    <div class="row">
                      <div class="col s12" style="margin: 5px 5px;right: 0;">
                        <span class="waves-effect waves-dark fa fa-clipboard fa-2x fa-fw black-text copy tooltipped" data-clipboard-action="copy" data-clipboard-target="#copy" data-position="bottom" data-delay="50" data-tooltip="Copy"></span>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

