<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script type="text/javascript" src="{{ assets }}/js/materialize.min.js"></script>
<script type="text/javascript" src="{{ assets }}/js/clipboard.min.js"></script>
<script type="text/javascript" src="{{ assets }}/js/highlight.pack.js"></script>
<script type="text/javascript" src="{{ assets }}/js/prism.min.js"></script>
<script type="text/javascript">
  var now = new Date('{{ site.time }}').getTime();
  $(document).ready(function () {
    $('.button-collapse').sideNav();
    $('.collapsible').collapsible();
    $('.dropdown-button').dropdown();
    $('.materialboxed').materialbox();
    $('.parallax').parallax();
    $('time').each(function () {
      if (now - (new Date($(this).attr('datetime')).getTime()) < 311040000){
        $(this).append('<span class="new badge indigo"></span>');
      }
    });
    $('texttime').each(function () {
      if (now - (new Date($(this).attr('datetime')).getTime()) < 311040000){
        $(this).append('[<span class="indigo-text">New Notify</span>]');
      }
    });
    var url = window.location.href;
    if (url.search('/blog') >= 0 || url.search('/archive') >= 0 || url.search('/categories') >= 0 || url.search('/tags') >= 0 || url.search('/2017/') >= 0) {
      $('#nav-blog').collapsible('open', 0);
    }
    hljs.initHighlightingOnLoad();
    hljs.configure({useBR: true});
    /*$('').each(function(i, block) {
      hljs.highlightBlock(block);
    });*/
    var myElement = document.getElementById('hammer');
    var mc = new Hammer(myElement);
  });
</script>
{% if site.author.google_analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create','{{ site.author.google_analytics }}','auto');ga('send','pageview');
</script>
{% endif %}
<script type="text/javascript">
var clipboard = new Clipboard('.copy');

clipboard.on('success', function(e) {
  console.info('Action:', e.action);
  console.info('Text:', e.text);
  console.info('Trigger:', e.trigger);

  e.clearSelection();
});

clipboard.on('error', function(e) {
  console.error('Action:', e.action);
  console.error('Trigger:', e.trigger);
});
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
  });
</script>
<script>
/* 
Native FullScreen JavaScript API
-------------
Assumes Mozilla naming conventions instead of W3C for now
*/

(function() {
	var 
		fullScreenApi = { 
			supportsFullScreen: false,
			isFullScreen: function() { return false; }, 
			requestFullScreen: function() {}, 
			cancelFullScreen: function() {},
			fullScreenEventName: '',
			prefix: ''
		},
		browserPrefixes = 'webkit moz o ms khtml'.split(' ');
	
	// check for native support
	if (typeof document.cancelFullScreen != 'undefined') {
		fullScreenApi.supportsFullScreen = true;
	} else {	 
		// check for fullscreen support by vendor prefix
		for (var i = 0, il = browserPrefixes.length; i < il; i++ ) {
			fullScreenApi.prefix = browserPrefixes[i];
			
			if (typeof document[fullScreenApi.prefix + 'CancelFullScreen' ] != 'undefined' ) {
				fullScreenApi.supportsFullScreen = true;
				
				break;
			}
		}
	}
	
	// update methods to do something useful
	if (fullScreenApi.supportsFullScreen) {
		fullScreenApi.fullScreenEventName = fullScreenApi.prefix + 'fullscreenchange';
		
		fullScreenApi.isFullScreen = function() {
			switch (this.prefix) {	
				case '':
					return document.fullScreen;
				case 'webkit':
					return document.webkitIsFullScreen;
				default:
					return document[this.prefix + 'FullScreen'];
			}
		}
		fullScreenApi.requestFullScreen = function(el) {
			return (this.prefix === '') ? el.requestFullScreen() : el[this.prefix + 'RequestFullScreen']();
		}
		fullScreenApi.cancelFullScreen = function(el) {
			return (this.prefix === '') ? document.cancelFullScreen() : document[this.prefix + 'CancelFullScreen']();
		}		
	}

	// jQuery plugin
	if (typeof jQuery != 'undefined') {
		jQuery.fn.requestFullScreen = function() {
	
			return this.each(function() {
				var el = jQuery(this);
				if (fullScreenApi.supportsFullScreen) {
					fullScreenApi.requestFullScreen(el);
				}
			});
		};
	}

	// export api
	window.fullScreenApi = fullScreenApi;	
})();
</script>
<script>
	with ((console && console._commandLineAPI) || {}) {
		Object.defineProperty(console, '_commandLineAPI', { 
			get : function() { 
				throw '콘솔을 사용할 수 없습니다.' 
			} 
		});
	}
</script>
