<div class="container row">
  <div class="col s1" style="margin: 5px 5px;">
    <span class="waves-effect waves-dark fa fa-google-plus-official fa-2x fa-fw red-text" onclick="location.href='https://plus.google.com/share?url={{ url }}{{ page.url }}';"></span>
  </div>
  <div class="col s1" style="margin: 5px 5px;">
    <span class="waves-effect waves-dark fa fa-facebook-square fa-2x fa-fw indigo-text" onclick="location.href='https://www.facebook.com/sharer/sharer.php?u={{ url }}{{ page.url }}';"></span>
  </div>
  <div class="col s1" style="margin: 5px 5px;">
    <span class="waves-effect waves-dark fa fa-twitter fa-2x fa-fw light-blue-text" onclick="location.href='https://twitter.com/share?url={{ url }}{{ page.url }}';"></span>
  </div>
  <div class="col s1" style="margin: 5px 5px;">
    <span class="waves-effect waves-dark fa fa-linkedin-square fa-2x fa-fw blue-text" onclick="location.href='https://www.linkedin.com/shareArticle?mini=true&url={{ url }}{{ page.url }}';"></span>
  </div>
  <div class="col s1" style="margin: 5px 5px;">
    <span class="waves-effect waves-dark fa fa-pinterest-square fa-2x fa-fw red-text" onclick="location.href='https://www.pinterest.com/pin/create/button/?url={{ url }}{{ page.url }}';"></span>
  </div>
  <div class="col s1" style="margin: 5px 5px;">
    <span class="waves-effect waves-dark fa fa-envelope-square fa-2x fa-fw black-text" onclick="location.href='mailto:?subject={{ page.title }} | {{ site.title }}&body={{ url }}{{ page.url }}';"></span>
  </div>
  <div class="col s1" style="margin: 5px 5px;">
    <span class="waves-effect waves-dark fa fa-clipboard fa-2x fa-fw black-text copy tooltipped" data-clipboard-text="{{ page.title }} | {{ site.title }} : {{ url }}{{ page.url }}" data-position="bottom" data-delay="50" data-tooltip="Copied!"></span>
  </div>
  <div class="col s1" style="margin: 5px 5px;">
    <a id="kakao-link-btn" class="waves-effect waves-dark" href="javascript:;">
      <img src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png"/>
    </a>
  </div>
</div>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type='text/javascript'>
    Kakao.init('eae5d542b38b82da1c468a54ee2ba74e');
    /*Kakao.Link.createTalkLinkButton({
        container: '#kakao-link-btn',
        label: "{{ page.title }}",
        webButton: {
            text: "", 
            url: "{{ url }}{{ page.url }}index.html"
        }
    });*/
    
    Kakao.Link.createTalkLinkButton({
      container: '#kakao-link-btn',
	    label: "{% if page.description %}{{ page.description }}{% endif %}",
     {% if page.image %} image: {
        src: '{{ page.image.src }}',
	      width: 300,
	      height: 300
      },{% endif %}
      webButton: {
        text: '{{ page.title }}',
        url: '{{ url }}{{ page.url }}'
      }
    });
</script>
