<!DOCTYPE html>

{% capture url %}{{ site.url | append: "$" | replace: "/$", "" | replace: "$", "" }}{% endcapture %}
{% capture assets %}{{ site.assets | append: "$" | replace: "/$", "" | replace: "$", "" }}{% endcapture %}

<html lang="ko">
<head>
  {% include meta.html %}
  {% include link.html %}
  {% include css.html %}
</head>

<body>
  <header>
    {% include nav.html %}
  </header>
  <main>
    <section>
      {{ content }}
    </section>
  </main>
  <footer class="page-footer indigo darken-1">
    {% include footer.html %}
  </footer>
  {% include js.html %}
</body>
</html>
